
.carrito{
    width: 25px;
    background-color: red;
    display: flex;
    position: relative;
    margin-left: 15px;
    padding: 0px 5px 0px 4px;
    line-height: 20px;

    border-radius: 10%;
}